@page
@model AboutModel
@{
    ViewData["Title"] = "About Project";
}
<h1>@ViewData["Title"]</h1>

<p>This website is developed for the technical test for Annexio.</p>
<p>This website utilizes the following technologies:</p>
<ul>
    <li>Bootstrap and JQuery for Front-End User Interfaces</li>
    <li>Newtonsoft.Json and RestAPI.Countries NuGet Packages for retrieving <a href="https://restcountries.eu/">REST Countries Data</a></li>
 </ul>
